@model Shelf_Share.Models.MyShelfViewModels.BookDetailsViewModel
@{
    ViewData["Title"] = "BookDetails";
}


<div class="row">
    <div class="col-md-4">
        <div><h4>@Model.Book.Title</h4></div>
        <div>By @Model.Book.Author.AuthorName</div>
        <div>Genre: @Model.Book.Genre.GenreName</div>
        <div>ISBN: @Model.Book.ISBN</div>
        <br />
        <table class="table-condensed">
            @foreach (var book in Model.GoodreadsList.Result.Books)
            {
                <tr>
                    <td><img src="@book.Image_url" /></td>

                </tr>

            }
        </table>
        <br />

        @if (Model.Book.IsOnUserShelf == false)
        {
            <div>
                <form method="post" asp-controller="MyShelf" asp-action="AddBookToUserShelf">

                    <input asp-for="@Model.Book.Id" type="hidden" />
                    <input asp-for="@Model.Book.Author.AuthorName" type="hidden" />
                    <input asp-for="@Model.Book.ISBN" type="hidden" />
                    <input asp-for="@Model.Book.Genre.GenreName" type="hidden" />

                    <button class="btn btn-success" type="submit" name="save" value="save" id="AddToShelfButton">Add to My Shelf</button>
                </form>
            </div>
        }

        @if (Model.Book.IsOnUserShelf)
        {
            <div>
                <form method="delete" asp-controller="MyShelf" asp-action="RemoveBookFromUserShelf">

                    <input asp-for="@Model.Book.Id" type="hidden" />

                    <button class="btn btn-warning" type="submit" name="save" value="save" >Remove from My Shelf</button>
                </form>
            </div>
        }
    </div>
    <div class="col-md-6">
        <table class="table-condensed">
            @foreach (var book in Model.GoodreadsList.Result.Books)
            {

                <tr>
                    <td>@Html.Raw(@book.Description)</td>
                </tr>

            }
        </table>
    </div>
</div>